{% extends 'GeptoolMainBundle::layout.html.twig' %}
{% block body %}
    <table u-full-width>
        <thead>
            <tr>
                <th>Username</th>
                <th>Real worked</th>
                <th>Effective hours</th>
                <th>Needed hours</th>
            </tr>
        </thead>
        <tr ng-repeat="user in users | orderBy:'-total_spent_time_effective'"
            ng-class="{
                red: user.total_spent_time_effective < user.needed_logged_time*3600,
                green: user.total_spent_time_effective > user.needed_logged_time*3600,
                white: user.total_spent_time_effective == user.needed_logged_time*3600,
                yellow: user.total_spent_time_effective == 0,
            }">
            <td>{{'{{user.name}}'}}</td>
            <td>{{'{{user.total_spent_time_formatted}}'}}</td>
            <td>{{'{{user.total_spent_time_effective_formatted}}'}}</td>
            <td>{{'{{user.needed_logged_time}}'}}</td>
        </tr>
    </table>
{% endblock %}
